html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-color: #d6d0cf;
}


#form-card {
    margin: 0px;
    background-color: #ed330e;
}

.material-icons {
    font-size: 30px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}